:root {
  --slidev-theme-primary: #005da4;
  --slidev-theme-secondary: #00c0f3;
  --kalouk-light-blue: #00c0f3;
  --kalouk-blue: #005da4;
  --kalouk-yellow: #ffe06a;
  --kalouk-yellow-dark: #fdb912;
  --kalouk-orange: #f37021;
  --kalouk-green: #6dc067;
  --kalouk-green-dark: #008641;
}

.slidev-layout {
  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }

  h1 {
    @apply text-4xl mb-4 -ml-[0.05em];
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm pt-1 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h6:not(.opacity-100) {
    @apply opacity-40;
  }
}

.slidev-layout.cover {
  @apply h-full grid justify-center text-white;
  background-color: var(--slidev-theme-primary);

  h1 {
    @apply text-7xl font-800 leading-20;
  }

  h2 {
    @apply leading-20;
  }
}

.slidev-layout.default {
  h1,
  h2 {
    @apply mb-10;
  }
}

.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }
}

.slidev-layout.fact {
  @apply text-center grid h-full;

  h1 {
    @apply text-5xl font-700;
  }

  p {
    @apply text-3xl w-full max-w-2xl mx-auto;
  }
}

.slidev-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-6xl font-700;
  }
}

.slidev-layout.quote {
  @apply grid h-full;

  h1 + p {
    @apply mt-2;
  }
}

.slidev-layout.section {
  h1 {
    @apply text-8xl font-500 leading-20;
  }
}
